@import "~antd/dist/antd.css";

.bgImage {
    text-align: center;
    background-image: url("./img/prismatic.jpg");
    position: fixed;
    min-width: 99%;
    min-height: 99%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.icons {
    padding-top: 250px;
    opacity: 0.95;
}

